In [1]:
from utils import *


row_units = [cross(r, cols) for r in rows]
column_units = [cross(rows, c) for c in cols]
square_units = [cross(rs, cs) for rs in ('ABC','DEF','GHI') for cs in ('123','456','789')]
unitlist = row_units + column_units + square_units

# TODO: Update the unit list to add the new diagonal units
unitlist = unitlist + [[s[0]+s[1] for s in zip(rows, cols)], [s[0]+s[1] for s in zip(rows, cols[::-1])]]


# Must be called after all units (including diagonals) are added to the unitlist
units = extract_units(unitlist, boxes)
peers = extract_peers(units, boxes)

In [2]:
unitlist[-1]

['A9', 'B8', 'C7', 'D6', 'E5', 'F4', 'G3', 'H2', 'I1']

In [3]:
unitlist[-2]

['A1', 'B2', 'C3', 'D4', 'E5', 'F6', 'G7', 'H8', 'I9']

In [8]:
def naked_twins(values):
    for unit in unitlist:
        value_to_box = defaultdict(list)
        for box in unit:
            value = values[box]
            value_to_box[value].append(box)
        for value in value_to_box:
            if len(value_to_box[value]) == 2:
                other_boxes = set(unit) - set(value_to_box[value])
                for digit in value:
                    for box in other_boxes:
                        if digit in values[box]:
                            values[box] = values[box].replace(digit, '')
    return values

In [14]:
before_naked_twins_1 = {'I6': '4', 'H9': '3', 'I2': '6', 'E8': '1', 'H3': '5', 'H7': '8', 'I7': '1', 'I4': '8',
                            'H5': '6', 'F9': '7', 'G7': '6', 'G6': '3', 'G5': '2', 'E1': '8', 'G3': '1', 'G2': '8',
                            'G1': '7', 'I1': '23', 'C8': '5', 'I3': '23', 'E5': '347', 'I5': '5', 'C9': '1', 'G9': '5',
                            'G8': '4', 'A1': '1', 'A3': '4', 'A2': '237', 'A5': '9', 'A4': '2357', 'A7': '27',
                            'A6': '257', 'C3': '8', 'C2': '237', 'C1': '23', 'E6': '579', 'C7': '9', 'C6': '6',
                            'C5': '37', 'C4': '4', 'I9': '9', 'D8': '8', 'I8': '7', 'E4': '6', 'D9': '6', 'H8': '2',
                            'F6': '125', 'A9': '8', 'G4': '9', 'A8': '6', 'E7': '345', 'E3': '379', 'F1': '6',
                            'F2': '4', 'F3': '23', 'F4': '1235', 'F5': '8', 'E2': '37', 'F7': '35', 'F8': '9',
                            'D2': '1', 'H1': '4', 'H6': '17', 'H2': '9', 'H4': '17', 'D3': '2379', 'B4': '27',
                            'B5': '1', 'B6': '8', 'B7': '27', 'E9': '2', 'B1': '9', 'B2': '5', 'B3': '6', 'D6': '279',
                            'D7': '34', 'D4': '237', 'D5': '347', 'B8': '3', 'B9': '4', 'D1': '5'}

In [27]:
unit = unitlist[11]
unit

['A3', 'B3', 'C3', 'D3', 'E3', 'F3', 'G3', 'H3', 'I3']

In [28]:
values = before_naked_twins_1

In [31]:
value_to_box = defaultdict(list)
for box in unit:
    value = values[box]
    value_to_box[value].append(box)

In [32]:
value_to_box

defaultdict(list,
            {'1': ['G3'],
             '23': ['F3', 'I3'],
             '2379': ['D3'],
             '379': ['E3'],
             '4': ['A3'],
             '5': ['H3'],
             '6': ['B3'],
             '8': ['C3']})

In [39]:
for value in value_to_box:
    if len(value_to_box[value]) == 2:
        other_boxes = set(unit) - set(value_to_box[value])
        for digit in value:
            for box in other_boxes:
                if digit in values[box]:
                    values[box] = values[box].replace(digit, '')
                    print(values[box])

79

In [15]:
display(before_naked_twins_1)

  1   237   4  | 2357  9   257 |  27   6    8
  9    5    6  |  27   1    8  |  27   3    4
  23  237   8  |  4    37   6  |  9    5    1
---------------+---------------+---------------
  5    1   2379| 237  347  279 |  34   8    6
  8    37  379 |  6   347  579 | 345   1    2
  6    4    23 | 1235  8   125 |  35   9    7
---------------+---------------+---------------
  7    8    1  |  9    2    3  |  6    4    5
  4    9    5  |  17   6    17 |  8    2    3
  23   6    23 |  8    5    4  |  1    7    9

In [13]:
display(values_after)

  1   237   4  | 2357  9   257 |  27   6    8
  9    5    6  |  27   1    8  |  27   3    4
  23  237   8  |  4    37   6  |  9    5    1
---------------+---------------+---------------
  5    1   279 | 237  347  279 |  34   8    6
  8    37   79 |  6   347  579 | 345   1    2
  6    4    23 | 1235  8   125 |  35   9    7
---------------+---------------+---------------
  7    8    1  |  9    2    3  |  6    4    5
  4    9    5  |  17   6    17 |  8    2    3
  23   6    23 |  8    5    4  |  1    7    9

In [21]:
possible_solutions_1 = [
        {'G7': '6', 'G6': '3', 'G5': '2', 'G4': '9', 'G3': '1', 'G2': '8', 'G1': '7', 'G9': '5', 'G8': '4', 'C9': '1',
         'C8': '5', 'C3': '8', 'C2': '237', 'C1': '23', 'C7': '9', 'C6': '6', 'C5': '37', 'A4': '2357', 'A9': '8',
         'A8': '6', 'F1': '6', 'F2': '4', 'F3': '23', 'F4': '1235', 'F5': '8', 'F6': '125', 'F7': '35', 'F8': '9',
         'F9': '7', 'B4': '27', 'B5': '1', 'B6': '8', 'B7': '27', 'E9': '2', 'B1': '9', 'B2': '5', 'B3': '6', 'C4': '4',
         'B8': '3', 'B9': '4', 'I9': '9', 'I8': '7', 'I1': '23', 'I3': '23', 'I2': '6', 'I5': '5', 'I4': '8', 'I7': '1',
         'I6': '4', 'A1': '1', 'A3': '4', 'A2': '237', 'A5': '9', 'E8': '1', 'A7': '27', 'A6': '257', 'E5': '347',
         'E4': '6', 'E7': '345', 'E6': '579', 'E1': '8', 'E3': '79', 'E2': '37', 'H8': '2', 'H9': '3', 'H2': '9',
         'H3': '5', 'H1': '4', 'H6': '17', 'H7': '8', 'H4': '17', 'H5': '6', 'D8': '8', 'D9': '6', 'D6': '279',
         'D7': '34', 'D4': '237', 'D5': '347', 'D2': '1', 'D3': '79', 'D1': '5'},
        {'I6': '4', 'H9': '3', 'I2': '6', 'E8': '1', 'H3': '5', 'H7': '8', 'I7': '1', 'I4': '8', 'H5': '6', 'F9': '7',
         'G7': '6', 'G6': '3', 'G5': '2', 'E1': '8', 'G3': '1', 'G2': '8', 'G1': '7', 'I1': '23', 'C8': '5', 'I3': '23',
         'E5': '347', 'I5': '5', 'C9': '1', 'G9': '5', 'G8': '4', 'A1': '1', 'A3': '4', 'A2': '237', 'A5': '9',
         'A4': '2357', 'A7': '27', 'A6': '257', 'C3': '8', 'C2': '237', 'C1': '23', 'E6': '579', 'C7': '9', 'C6': '6',
         'C5': '37', 'C4': '4', 'I9': '9', 'D8': '8', 'I8': '7', 'E4': '6', 'D9': '6', 'H8': '2', 'F6': '125',
         'A9': '8', 'G4': '9', 'A8': '6', 'E7': '345', 'E3': '79', 'F1': '6', 'F2': '4', 'F3': '23', 'F4': '1235',
         'F5': '8', 'E2': '3', 'F7': '35', 'F8': '9', 'D2': '1', 'H1': '4', 'H6': '17', 'H2': '9', 'H4': '17',
         'D3': '79', 'B4': '27', 'B5': '1', 'B6': '8', 'B7': '27', 'E9': '2', 'B1': '9', 'B2': '5', 'B3': '6',
         'D6': '279', 'D7': '34', 'D4': '237', 'D5': '347', 'B8': '3', 'B9': '4', 'D1': '5'}]

In [24]:
display(possible_solutions_1[1])

  1   237   4  | 2357  9   257 |  27   6    8
  9    5    6  |  27   1    8  |  27   3    4
  23  237   8  |  4    37   6  |  9    5    1
---------------+---------------+---------------
  5    1    79 | 237  347  279 |  34   8    6
  8    3    79 |  6   347  579 | 345   1    2
  6    4    23 | 1235  8   125 |  35   9    7
---------------+---------------+---------------
  7    8    1  |  9    2    3  |  6    4    5
  4    9    5  |  17   6    17 |  8    2    3
  23   6    23 |  8    5    4  |  1    7    9

In [26]:
display(possible_solutions_1[0])

  1   237   4  | 2357  9   257 |  27   6    8
  9    5    6  |  27   1    8  |  27   3    4
  23  237   8  |  4    37   6  |  9    5    1
---------------+---------------+---------------
  5    1    79 | 237  347  279 |  34   8    6
  8    37   79 |  6   347  579 | 345   1    2
  6    4    23 | 1235  8   125 |  35   9    7
---------------+---------------+---------------
  7    8    1  |  9    2    3  |  6    4    5
  4    9    5  |  17   6    17 |  8    2    3
  23   6    23 |  8    5    4  |  1    7    9

In [23]:
display(before_naked_twins_1)

  1   237   4  | 2357  9   257 |  27   6    8
  9    5    6  |  27   1    8  |  27   3    4
  23  237   8  |  4    37   6  |  9    5    1
---------------+---------------+---------------
  5    1   2379| 237  347  279 |  34   8    6
  8    37  379 |  6   347  579 | 345   1    2
  6    4    23 | 1235  8   125 |  35   9    7
---------------+---------------+---------------
  7    8    1  |  9    2    3  |  6    4    5
  4    9    5  |  17   6    17 |  8    2    3
  23   6    23 |  8    5    4  |  1    7    9

In [25]:
possible_solutions_1[0] == possible_solutions_1[1]

False